/* Add these styles to your CSS file */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  /* Set a high z-index value */
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  position: relative;
  z-index: 1001;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.search-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

.User {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font: bold;
  margin-left: 65px;
  width: 400px;
}

.User button {
  margin-left: 250px;
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  /* Center the content vertically */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  width: 150px;
  height: 30px;
  cursor: pointer;
}