.landingcontainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 15%;
  min-height: 971px;
  padding: 10px;
  top: -0%;
}


.imagecont {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  margin: 50px 80px;
}

.icon-wrap {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  margin: 50px 80px;
  width: 150px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;


}



.icon-wrap:hover {
  transform: scale(1.2);
}


.homecont {
  display: flex;
  align-items: start;

}


.text {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 38%;
  font-weight: bold;
}



.instaimg {
  width: 140px;
}